.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-header-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-nav {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.menu {
  display: flex;
  align-items: center;
}
